.book-cover-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  overflow: hidden;
  object-fit: cover;
  background-color: #fff3b0;

  .book-icon {
    color: #ffa500;
    width: 50%;
    height: 50%;
  }

  @media (max-width: 768px) {
    height: 180px;
    .book-icon {
      width: 60%;
      height: 60%;
    }
  }

  @media (max-width: 480px) {
    height: 135px;
    .book-icon {
      width: 70%;
      height: 70%;
    }
  }
}