.inactive-book-card {
  flex: 0 0 250px;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 32px rgba(0,0,0,0.15);
  }

  .cover {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem;
    margin-top: 0.5rem;
    // background-color: #fff3b0;
  }

  .info {
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    text-align: center;
    color: #713f12;

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0;
    }

    span.author {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .pages-year {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      .chip {
        background-color: #fff3b0;
        padding: 0.25rem 0.75rem;
        border-radius: 9999px;
        font-size: 0.8rem;
        color: #b06c00;
        font-weight: 500;
      }
    }
  }
}