@use "../../variables.scss" as *;

// global box-sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

.login-page {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #fefce8,
    #fff7ed,
    #fdf2f8
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: $text-color;
}

.login-container {
  width: 100%;
  max-width: 420px;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    margin-bottom: 0.5rem;
  }
}

.login-logo {
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1rem;
  background-color: #fde047;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);

  svg {
    width: 2.5rem;
    height: 2.5rem;
    color: $text-color;
  }
}


.login-card {
  background: white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
  }
}

.input-with-icon {
  position: relative;

  svg {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    color: $text-color;
  }

  input {
    width: 100%;
    padding-left: 2.75rem;
  }
}

input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  border: 2px solid #fde68a;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: black;
  }
}

button {
  margin-top: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(to right,#fff3b0, #FBBF24);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;

  &:hover {
    background: linear-gradient(to right, #eab308, #f97316);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  }
}

.login-tip {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
}

.login-footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;

  .sparkle-icon {
      color: #FBBF24;
      vertical-align: bottom;
  }
}