.book-card {
  width: 90%;
  height: 50vh;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  gap: 2rem;
  margin: 0 auto;

  .column-a {
    flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

    img {
        width: 100%;
    max-width: 300px;
    max-height: 100%;
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    object-fit: contain;
    }
  }

  .column-b {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      margin: 0;
      color: #b06c00;
      font-size: 1.5rem;
    }

    span {
      color: #8c5a00;
      font-size: 0.9rem;
    }

    .progress-wrapper {
      width: 100%;
      height: 14px;
      background-color: #fff3b0;
      border-radius: 999px;
      overflow: hidden;
      margin-top: 0.5rem;

      .progress-fill {
        height: 100%;
        width: 75%;
        background: linear-gradient(to right, #fff7b1, #ffa500);
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0.25rem;
        font-size: 0.75rem;

        span {
          color: black;
          font-weight: 600;
        }
      }
    }
  }

  // RESPONSIVT
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .column-a {
      img {
        width: 120px;
        height: 180px;
      }
    }

    .column-b {
      width: 100%;
      align-items: center;
      text-align: center;

      .progress-wrapper {
        height: 12px;
      }
    }
  }
}
