@use "../../variables.scss" as *;

.finished-books-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: $text-color;

    h1 {
      margin: 0;
    }

  .books-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }

  .empty-state {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    text-align: center;

    p:first-child {
      font-weight: bold;
      margin-bottom: 1rem;
      color: #b06c00;
    }

    p:last-child {
      color: #8c5a00;
    }
  }
}